html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  color: #ffffff;
  overflow-x: hidden;
  
}
.wrapper{
  background-color: #050f10;
  height: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 12.5px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.down-arrow {
  position: absolute;
  bottom: 100px;
}
.global-subtitle {
  font-size: 24px;
  color: $blue;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.global__title-box{
  position: relative;
  z-index: 1;
}
.global-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.global-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(#ffffff, 0.5);
}
.global-shadowtitle {
  font-size: 133px;
  line-height: 125px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: -1;
}
.global__section-number {
  position: absolute;
  right: 0;
  top: 18%;
  display: flex;
  align-items: center;
  z-index: 2;
  span {
    font-size: 27px;
    color: #ffffff;
    font-weight: 700; 
    padding-right: 35px;
  }
  .section-number__line {
    width: 270px;
    height: 1px;
    background-color: #fff;
  }
}
.invisible {
  display: none;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
