@media (max-width: 1024px) {
  .global-title {
    font-size: 36px;
  }
  .global-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(#ffffff, 0.5);
  }
  .global-shadowtitle {
    font-size: 91px;
    line-height: 90px;
  }
  .global-subtitle {
    font-size: 18px;
  }
  .global__section-number {
    position: absolute;
    right: 0;
    top: 18%;
    display: flex;
    align-items: center;
    z-index: 2;
    span {
      font-size: 27px;
      color: #ffffff;
      font-weight: 700;
      padding-right: 35px;
    }
    .section-number__line {
      width: 70px;
      height: 1px;
      background-color: #fff;
    }
  }

  .main {
    &__inner {
      flex-direction: column;
      justify-content: center;
      align-items: unset;
    }
    &__info {
      margin-bottom: 35px;
      max-width: 370px;
      &-title {
        margin-bottom: 15px;
      }
      &-shadowtitle {
        left: auto;
        right: -40%;
        top: 14%;
        width: 955px;
      }
    }
    &__showreel {
      margin-bottom: 100px;
      &-play {
        width: 41px;
        height: 41px;
        &::before {
          width: 51px;
          height: 51px;
        }
      }
      &-link {
        font-size: 20px;
        width: 165px;
      }
    }
    .down-arrow {
      bottom: 185px;
    }
  }
  .mission {
    padding-bottom: 50px;
    &__bg-block {
      &.stars-bg.yellow-bottom {
        left: 76%;
        bottom: -17%;
      }
      &.stars-bg.yellow-top {
        top: 24%;
        left: -13%;
      }
      &.stars-bg.blue-left {
        bottom: 8%;
        left: 15%;
      }
      &.stars-bg.blue-right {
        right: -31%;
        top: 9%;
      }
    }
    &__title {
      max-width: 220px;
    }
    &__shadowtitle {
      top: -12%;
      left: -50%;
    }
    &__info {
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        width: 240px;
        height: 230px;
        background-color: rgba(#ffffff, 0.01);
        margin: 0px 30px 65px;
      }
    }
    .down-arrow {
      bottom: 50px;
    }
  }
  .container {
    max-width: calc(100% - 90px);
  }
  .services{
    border-top-left-radius: 175% 47%;
    border-top-right-radius: 175% 47%;
  }
}

@media (max-width: 670px) {
  .main__title {
    letter-spacing: 25px;
  }
  input[name="login"],
  input[name="password"],
  .today-number,
  .main__form-btns {
    margin: 0 auto;
  }
  input[name="password"] {
    margin-top: 45px;
  }
  .today-number {
    margin-bottom: 45px;
  }
  .main__form {
    margin-left: 0;
  }
  .main__footer-copy__text {
    display: none;
  }
  .main__footer-copy__text--mobile {
    display: block;
    max-width: 365px;
    span {
      line-height: 25px;
      letter-spacing: 5px;
    }
  }
}

@media (max-width: 520px) {
  .main__title {
    letter-spacing: 10px;
    font-size: 60px;
  }
  .today-number {
    margin-bottom: 120px;
  }
}

@media (max-width: 380px) {
  .main__title {
    letter-spacing: 5px;
  }
  .main__footer-copy__text--mobile {
    max-width: 205px;
  }
  .main__title-wrapper {
    margin-bottom: 10px;
  }
  .main__title {
    padding-bottom: 20px;
  }
  .today-number {
    margin-bottom: 25px;
    max-width: 115px;
    min-height: 75px;
    font-size: 70px;
  }
  input[name="password"] {
    margin-top: 25px;
  }
  .modal-window {
    position: absolute;
    right: auto;
    bottom: auto;
    width: 250px;
    min-height: 130px;
    padding: 15px 22px;
    background-color: #f0e6e6;
    left: 50%;
    top: 57%;
    transform: translate(-50%);
  }
}

// @media(max-height: 800px) {
//     .main__title {
//         font-size: 120px;
//     }
// }
