@import "vars";
@import "fonts";
@import "global";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1345px;
    margin: 0 auto;
    padding: 15px 25px;
  }
  &__action-box {
    max-width: 210px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    transition: all 0.5s;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    max-width: 475px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    &.out {
      transform: translateX(1000px);
    }
    &.in {
      transform: translateX(0);
    }
    &-list {
      width: 100%;
      padding-right: 25%;
    }
    &-item {
      padding: 10px 5px;
      text-align: right;
      &__inner {
        display: flex;
        align-items: center;
      }
    }
    &-link {
      text-decoration: none;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.3);
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.3s;
      &.active {
        color: #ffffff;
        font-weight: 700;
      }
    }
    &-num {
      margin-left: 14px;
    }
    &-line {
      width: 0px;
      height: 1px;
      background-color: transparent;
      transition: all 0.5s;
      &.active {
        width: 125px;
        background-color: #fff;
        margin-left: 25px;
      }
    }
    &-dot {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #ffffff;
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &__btn {
    position: relative;
    z-index: 1;
    &-arrow {
      position: absolute;
      left: -72%;
      top: -11px;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
    }
  }
  &__burger {
    font-size: 11px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 4px;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    div:first-child {
      margin-right: -3px;
    }
    div:not(:first-child) {
      height: 1px;
      background-color: #ffffff;
      margin-top: 5px;
    }
  }
}
.main {
  min-height: 100vh;
  background-image: url(../images/main-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    transition: all 0.5s;
    position: relative;
  }
  &__info {
    max-width: 500px;
    &-subtitle {
      margin-bottom: 15px;
    }
    &-title {
      margin-bottom: 40px;
    }
    &-shadowtitle {
      width: 1325px;
      left: -130%;
      top: -71%;
    }
    &-text {
      font-size: 16px;
      color: #ffffff;
    }
  }
  &__showreel {
    &-link {
      width: 210px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;
      z-index: 5;
    }
    &-play {
      position: relative;
      width: 71px;
      height: 71px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        width: 10px;
        height: 11px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
      }
      &::after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        transform: rotate(-45deg);
        top: -8px;
        left: 40%;
      }
    }
  }
  &__social {
    position: absolute;
    bottom: 170px;
    &-list {
      display: flex;
      align-items: center;
      li {
        width: 38px;
        height: 38px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        & + li {
          margin-left: 15px;
        }
        &:hover {
          svg {
            fill: #ffffff;
          }
        }
      }
    }
    &-link {
      svg {
        transition: all 0.3s;
        width: 19px;
        height: 19px;
        fill: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .white-circle {
    position: absolute;
    right: -20%;
    bottom: 9%;
    width: 475px;
    height: 475px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.01);
  }
  .empty-circle {
    position: absolute;
    right: 3%;
    top: 27%;
    width: 244px;
    height: 244px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.mission {
  position: relative;
  min-height: 100vh;
  padding-top: 125px;
  z-index: 1;
  &__inner {
    margin-bottom: 150px;
  }
  &__title-box {
    max-width: 450px;
  }
  &__shadowtitle {
    top: -58%;
    left: -67%;
  }
  &__bg-block {
    position: absolute;
    &.stars-bg {
      width: 490px;
      height: 404px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      &.yellow-top {
        top: 0%;
        left: 41%;
      }
      &.yellow-bottom {
        left: 35%;
        bottom: -17%;
      }
      &.blue-left {
        bottom: 15%;
        left: -9%;
      }
      &.blue-right {
        right: 0;
        top: 0;
      }
    }
    &.crowd-bg {
      width: 380px;
      height: 285px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 2%;
      left: 25%;
      z-index: -1;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    &-item {
      position: relative;
      z-index: 9999;
      max-width: 263px;
      width: 100%;
      min-height: 263px;
      padding: 46px 46px 37px 42px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s;
      margin: 0 15px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
    &-title {
      color: $blue;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 52px;
    }
    &-img {
      position: absolute;
      top: -10%;
      right: -6%;
    }
    &-line {
      width: 127px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 33%;
      left: 0;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -2px;
        background-color: $blue;
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
      }
    }
  }
}

.services {
  position: relative;
  min-height: 100vh;
  background-color: #0c1516;
  overflow: hidden;
  opacity: 0.8;
  padding: 80px 0;
  border-top-left-radius: 473% 285%;
  border-top-right-radius: 473% 285%;
  z-index: 1;
  &__title-box {
    text-align: center;
    margin-bottom: 80px;
  }
  &__shadowtitle {
    bottom: -33%;
    left: 30%;
    color: #050f10;
  }
  &__section-number {
    top: 14%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 188px;
    min-height: 365px;
    display: flex;
    &:nth-child(2n - 1) {
      .services__item-title {
        &::after {
          top: auto;
          bottom: 80%;
        }
      }
    }
    &:nth-child(2n) {
      align-items: flex-end;
    }
    &-title {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 4px;
        width: 6px;
        height: 6px;
        background-color: $blue;
        transform: rotate(45deg);
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -22px;
        transform: translateX(-50%);
        width: 1px;
        height: 300vh;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &-text {
      margin-bottom: 18px;
    }
    &-btn {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      padding-right: 80px;
      display: inline-block;
      width: 100%;
      &__line {
        position: absolute;
        width: 64px;
        height: 1px;
        background: rgb(224, 224, 224);
        background: linear-gradient(
          90deg,
          rgba(224, 224, 224, 0.4374124649859944) 0%,
          rgba(0, 0, 0, 0.6054796918767507) 100%,
          rgba(255, 255, 255, 1) 100%
        );
        right: 10px;
        bottom: 50%;
        transform: translateY(50%);
      }
    }
  }
  &__crowd-box {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.box1 {
      width: 304px;
      height: 297px;
      left: -10%;
      bottom: 0;
    }
    &.box2 {
      width: 362px;
      height: 266px;
      right: 2%;
      top: 10%;
    }
  }
}

.cases {
  min-height: 100vh;
  padding: 100px 0;
  background-color: rgba(#050f10, 0.5);
  position: relative;
  z-index: 1;
  &__title-box {
    position: relative;
    z-index: 1;
    margin-bottom: 150px;
  }
  &__section-number {
    top: 13%;
  }
  &__shadowtitle {
    color: #0c1516;
    z-index: -1;
    top: -14%;
    left: -20%;
  }
  &__more-link {
    position: absolute;
    padding-left: 120px;
    bottom: 10%;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 97px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  &__items-box {
    display: flex;
    justify-content: space-between;
    .cases__item {
      max-width: 280px;
      width: 100%;
      min-height: 286px;
      border-radius: 10px;
      position: relative;
      margin: 0 10px;
      &-overlay {
        display: inline-block;
        background-color: rgba(#0764aa, 0.8);
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        padding: 0 33px;
        transition: all 0.3s;
        &:hover {
          height: 100%;
          padding: 0 95px;
        }
      }
      &-title {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
      }
      &-subtitle {
        font-size: 14px;
        font-weight: 400;
        color: rgba(#ffffff, 0.5);
      }
      &-text__box {
        min-width: 105px;
      }
    }
  }
  &__vertical-line {
    position: absolute;
    min-height: 100vh;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.03);
    top: 0;
    left: 52.5%;
    z-index: -1;
  }
}

.certificates {
  background-color: rgba(#0c1516, 0.8);
  padding: 100px 0 100px;
  position: relative;
  .down-arrow{
    display: none;
  }
  &__title-box {
    text-align: center;
    margin-bottom: 85px;
  }
  &__shadowtitle {
    color: #050f10;
    left: -41%;
    bottom: -24%;
  }
  &__section-number {
    top: 21%;
  }

  &__slider {
    padding: 0 45px;
    &-item {
      background-color: #050f10;
      width: 236px;
      min-height: 193px;
      border-radius: 10px;
      position: relative;
      &__title {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        min-height: 74px;
        border-radius: 10px 10px 0 0;
        padding: 20px 30px 5px;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          top: 14%;
          left: 0;
          background-color: rgba(#ffffff, 0.5);
        }
      }
      &__text {
        padding: 10px 30px 5px;
      }
      &.best {
        .certificates__slider-item__title {
          background-color: $blue;
        }
        .certificates__slider-item__text {
          font-size: 22px;
          font-weight: 400;
          padding-top: 30px;
        }
        .certificates__slider-item__like {
          position: absolute;
          right: 30px;
          bottom: 20px;
        }
      }
    }
  }
}

.contact {
  position: relative;
  z-index: 1;
  padding: 120px 50px;
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    input,
    button {
      border: none;
      max-width: 280px;
      width: 100%;
      height: 50px;
      border-radius: 10px;
    }
    input {
      background-color: #0c1516;
      padding: 5px 30px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(#ffffff, 0.5);
      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        color: #808590;
      }
    }
    button {
      background-color: $blue;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__bg-block {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: -1;
    &.stars1 {
      width: 300px;
      height: 299px;
      bottom: -3%;
      left: -2%;
    }
    &.stars2 {
      width: 464px;
      height: 366px;
      right: 0;
    }
    &.crowd {
      width: 362px;
      height: 266px;
      right: -6%;
      top: -27%;
    }
  }
}

.footer {
  background-color: $blue;
  &__inner {
    max-width: 1345px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  &__menu {
    margin-left: 92px;
    &-link {
      a {
        transition: all 0.3s;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        padding: 0 5px;
      }
      display: inline-block;
      & + .footer__menu-link {
        margin-left: 23px;
      }
      &.active {
        a {
          text-shadow: 1px 0 0 #ffffff;
        }
      }
      &:hover {
        a {
          text-shadow: 1px 0 0 #ffffff;
        }
      }
    }
  }
  &__links {
    margin-left: 125px;
    max-width: 610px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      position: relative;
      padding-left: 65px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      .footer__links-icon {
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#ffffff, 0.1);
        svg {
          fill: #ffffff;
          width: 18px;
        }
      }
    }
  }
  &__copy {
    background-color: #0c1516;
    text-align: center;
    padding: 20px 15px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(#ffffff, 0.5);
  }
}

@import "media";
